.containerCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;

  }

.ContainApp{
    display: flex;
    justify-content: center;
    margin: 7% 0%;
}
