* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  outline: none;
  border: none;
  text-decoration: none;
  font-family: Arial, sans-serif;
}

.containApp {
  min-height: 100vh;

  width: 100%;
  height: 100%;
  background: linear-gradient(
    135deg,
    #3a4042,
    #212121
  ); /* Gradient background */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow for depth */

  position: relative;
  overflow: hidden;
}

.containApp::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.1) 1px,
      transparent 1px
    ),
    linear-gradient(rgba(255, 255, 255, 0.1) 1px, transparent 1px);
  background-size: 40px 40px;
  pointer-events: none; /* Allow clicking through the pattern layer */
}
